---
layout: default
---

{% if page.hero_image %}
  <div class="page-hero" style="background-image:url('{{ page.hero_image }}');" data-aos="fade-in">
    <div class="hero-overlay"></div>
    <div class="hero-text">
      <h1>{{ page.title }}</h1>
    </div>
  </div>
{% endif %}

<div class="content-container">
  <main class="main-content">
    <p><small>Published on {{ page.date | date: '%B %d, %Y' }}</small></p>
    <hr />
    <div class="post-content">
      {{ content }}
    </div>
  </main>

  <aside class="right-sidebar">
    <div class="sidebar-content">
      <h3>Description</h3>
      <p>{{ page.description }}</p>

      <h3>Table of Contents</h3>
      <ul>
        {% for section in page.toc %}
          <li><a href="#{{ section.id }}">{{ section.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </aside>
</div>
