---
layout: default
---

{% if page.hero_image %}
  <div class="page-hero" style="background-image:url('{{ page.hero_image }}');" data-aos="fade-in">
    <div class="hero-overlay"></div>
    <div class="hero-text">
      <h1>{{ page.title }}</h1>
    </div>
  </div>
{% endif %}

<div class="page-content container" data-aos="fade-up">
  {% unless page.hero_image %}
    <h1>{{ page.title }}</h1>
  {% endunless %}
  <p><small>Published on {{ page.date | date: '%B %d, %Y' }}</small></p>
  <hr />
  <div class="post-content">
    {{ content }}
  </div>
</div>
